<%- include('../layout/head') %>

<%- include('../layout/nav') %>

<h1>My Favorites</h1>

<ul>
    <% renderFavorites.forEach(item => { %>
    <div class="favorite-pets">
        <li class="favorite-pets-name"><h4><%= item.name %></h4></li>
        <li><img class="favorite-img" src="<%=item.photo%>"></li>
        <!-- <li class="favorite-pets-age"><h5><%= item.age %></h5></li> -->
        <!-- <li class="favorite-pets-description"><h4><%= item.description %></h4></li> -->

      <div id="button-wrap">
          <form class="unlist deleteFavButton" action="/favorites/<%= item.id %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input id="delete-icon" type="image" src="/img/delete-icon-256.png" />

      
                     
          </form>
  
        

          <form class="unlist infoFavButton" action="/details/<%= item.id %>" method="get">
            <input id="info-icon-fav" type="image" src="/img/view-details-icon-256.png" />
          </form>
      </div>

      <div id="fav-pet-info">
          <a class="adopt-me-button" href="<%= item.url %>">Adopt Me!</a>
      </div>
        

        <hr width="67%">

    </div>
    <% }) %>
</ul>


