<%- include('../layout/head') %>
<h1>This is favorites.ejs!</h1>
<%- include('../layout/nav') %>

<ul>
    <% petResultAPI.forEach(item => { %>
    <li><h4>Name: <%= item.name %></h4></li>
    <li><h4>Description: <%= item.description %></h4></li>
    <li><img src="<%=item.photo%>"></li>
    <% }) %>
</ul>


