<%- include('../layout/head') %>
<h1>This is search.ejs!</h1>
<%- include('../layout/nav') %>

<div></div>

<!-- <h4>Name: <%= petResultAPI.name %></h4>
<h4>Description: <%= petResultAPI.description %></h4> -->
<img src="<%=petResultAPI.photo%>">

<button class="btn pet">Pet</button>
<button class="btn no-pet">No Pet</button>

<ul>
        <li id="details-button">Details</li>
</ul>

<div class="view-details">
        <h4>Name: <%= petResultAPI.name %></h4>
        <h4>Description: <%= petResultAPI.description %></h4> 
        
</div>

<%- include('../layout/footer') %>


