<%- include('../layout/head') %>

<h1>Search</h1>

<%- include('../layout/nav') %>


<!-- <h4>Name: <%= petResultAPI.name %></h4>
<h4>Description: <%= petResultAPI.description %></h4> -->

<div id ="pet-image-heart">
<img id="heart" src="/img/like.png">
<img id="pet-image" src="<%=petResultAPI.photo%>">
</div>


<div id="view-details">
        <h4>Name: <%= petResultAPI.name %></h4>
        <h4>Description: <%= petResultAPI.description %></h4> 
        
</div>

<button class="searchButtons" id="btnNoPet">No Pet</button>
<button class="searchButtons" id="btnPet">Pet</button>
<!-- <button class="searchButtons" id="btnDetails" onclick="window.location.href='/Details'">Details</button> -->
<button class="searchButtons" id="btnDetails">Details</button>
<button class="searchButtons" id="btnSave">Save</button>

<%- include('../layout/footer') %>
