<%- include('../layout/head') %>

<%- include('../layout/nav') %>

<!-- <img id="heart" src="/img/like.png"> -->
<!-- Display Pets -->
<% var petArrayLength = petResultAPI.length; %> 

<% petResultAPI.forEach((item, index) => { %>

  <div class="loadPets <%=index %>">

      <!-- <svg id="info-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg> -->


      <svg id="heart-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16 heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
      
        
        <div class="flexPet">
          <img class="pet-image" src="<%=item.photo%>">
        </div>
      
        <ul class="<%=index %>">
      
        <div class="view-details">
          <li><h4 id="view-name"><%= item.name %></h4></li>
          <li><h4 id="view-description"><%= item.description %></h4></li>
        </div>

      </ul>
      <form class ="petDetail <%=index %>Form" id="save-data" action="/favorites" method="post">
        <div class="hide-form-save-data">
          <input type="text" name="type" value="<%= item.type %>" required>
          <input type="text" name="name" value="<%= item.name %>" required>  
          <input type="text" name="age" value="<%= item.age %>" required>  
          <input type="text" name="gender" value="<%= item.gender %>" required>  
          <input type="text" name="size" value="<%= item.size %>" required>  
          <input type="text" name="city" value="<%= item.city %>" required>  
          <input type="text" name="state" value="<%= item.state %>" required>  
          <input type="text" name="description" value="<%= item.description %>" required>  
          <input type="text" name="photo" value="<%= item.photo %>" required> 
      
      </div>
    </form>

    <form class ="petDetail" id="save-data" action="/details" method="post">
      <div class="hide-form-save-data">
        <input type="text" name="type" value="<%= item.type %>" required>
        <input type="text" name="name" value="<%= item.name %>" required>  
        <input type="text" name="age" value="<%= item.age %>" required>  
        <input type="text" name="gender" value="<%= item.gender %>" required>  
        <input type="text" name="size" value="<%= item.size %>" required>  
        <input type="text" name="city" value="<%= item.city %>" required>  
        <input type="text" name="state" value="<%= item.state %>" required>  
        <input type="text" name="description" value="<%= item.description %>" required>  
        <input type="text" name="photo" value="<%= item.photo %>" required>
        <input type="text" name="primaryBreed" value="<%= item.primaryBreed %>" required>  
        <input type="text" name="url" value="<%= item.url %>" required>

  
        <!-- <% item.photos.forEach ((photo, index) => { %>
        <input type="text" name="photo<%=index %>" value="<%= photo[index] %> required> 
        <% }) %> -->
        
      </div>

      

      <button class="searchButtons <%=index %> detailsButton" id="btnSave">
          <svg id="info-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>
      </button>

    </form>


  </div>
    <% }) %>
    
    <div id="out-of-pets" class="<%=petArrayLength%> ranOutOfPets">
      <p>Sorry, these are all the pets that meet your search criteria right now! Try searching again later!</p>
    </div>

    
  

<!-- <button class="searchButtons" id="btnSave">Save</button> -->


<%- include('../layout/footer') %>
