<%- include('../layout/head') %>

<%- include('../layout/nav') %>

<div></div>

<!-- <h4>Name: <%= petResultAPI.name %></h4>
<h4>Description: <%= petResultAPI.description %></h4> -->

<img id="pet" src="<%=petResultAPI.photo%>">


<ul>
        <li id="details-button">Details</li>
</ul>

<div class="view-details">
        <h4>Name: <%= petResultAPI.name %></h4>
        <h4>Description: <%= petResultAPI.description %></h4> 
        
</div>

<button class="searchButtons" id="btnNoPet">No Pet</button>
<button class="searchButtons" id="btnPet">Pet</button>
<button class="searchButtons" id="btnDetails" onclick="window.location.href='/Details'">Details</button>
<button class="searchButtons" id="btnDetails">Save</button>

<%- include('../layout/footer') %>
