<%- include('../layout/head') %>

<%- include('../layout/nav') %>

<!-- <img id="heart" src="/img/like.png"> -->
<!-- Display Pets -->
<% var petArrayLength = petResultAPI.length; %> 

<% petResultAPI.forEach((item, index) => { %>

  <div class="loadPets <%=index %>">

        <img class="heart" src="/img/like.png">
        <img class="pet-image" src="<%=item.photo%>">
    
      <ul class="<%=index %>">
      
        <div class="view-details">
          <li><h4 id="view-name"><%= item.name %></h4></li>
          <li><h4 id="view-description"><%= item.description %></h4></li>
        </div>

      </ul>
      <form class ="petDetail <%=index %>Form" id="save-data" action="/favorites" method="post">
        <div class="hide-form-save-data">
          <input type="text" name="type" value="<%= item.type %>" required>
          <input type="text" name="name" value="<%= item.name %>" required>  
          <input type="text" name="age" value="<%= item.age %>" required>  
          <input type="text" name="gender" value="<%= item.gender %>" required>  
          <input type="text" name="size" value="<%= item.size %>" required>  
          <input type="text" name="city" value="<%= item.city %>" required>  
          <input type="text" name="state" value="<%= item.state %>" required>  
          <input type="text" name="description" value="<%= item.description %>" required>  
          <input type="text" name="photo" value="<%= item.photo %>" required> 
          
          <button class="searchButtons <%=index %>" id="btnSave"></button>

      
      </div>
    </form>

    <form class ="petDetail" id="save-data" action="/details" method="post">
      <div class="hide-form-save-data">
        <input type="text" name="type" value="<%= item.type %>" required>
        <input type="text" name="name" value="<%= item.name %>" required>  
        <input type="text" name="age" value="<%= item.age %>" required>  
        <input type="text" name="gender" value="<%= item.gender %>" required>  
        <input type="text" name="size" value="<%= item.size %>" required>  
        <input type="text" name="city" value="<%= item.city %>" required>  
        <input type="text" name="state" value="<%= item.state %>" required>  
        <input type="text" name="description" value="<%= item.description %>" required>  
        <input type="text" name="photo" value="<%= item.photo %>" required>
        <input type="text" name="primaryBreed" value="<%= item.primaryBreed %>" required>  
        <input type="text" name="url" value="<%= item.url %>" required>

  
        <!-- <% item.photos.forEach ((photo, index) => { %>
        <input type="text" name="photo<%=index %>" value="<%= photo[index] %> required> 
        <% }) %> -->
        
      </div>

      <button class="searchButtons <%=index %> detailsButton" id="btnSave"></button>

    </form>


  </div>
    <% }) %>
    
    <div id="out-of-pets" class="<%=petArrayLength%> ranOutOfPets">
      <p>Sorry, these are all the pets that meet your search criteria right now! Try searching again later!</p>
    </div>

    
  

<!-- <button class="searchButtons" id="btnSave">Save</button> -->


<%- include('../layout/footer') %>
