<%- include('../layout/head') %>

<h1>Search</h1>

<%- include('../layout/nav') %>


<!-- Display Pets -->
<% petResultAPI.forEach((item, index) => { %>
    <ul class="loadPets" id="<%=index %>">
      <img id="heart" src="/img/like.png">
      <li><img class="pet-image" src="<%=item.photo%>"></li>
      <div class="view-details">
        <li><h4>Name: <%= item.name %></h4></li>
        <li><h4>Description: <%= item.description %></h4></li>
      </div>
    </ul>
    <form class ="petDetail">
      <input type="text" name="type" value="<%= item.type %>" required>
      <input type="text" name="name" value="<%= item.name %>" required>  
      <input type="text" name="age" value="<%= item.age %>" required>  
      <input type="text" name="gender" value="<%= item.gender %>" required>  
      <input type="text" name="size" value="<%= item.size %>" required>  
      <input type="text" name="city" value="<%= item.city %>" required>  
      <input type="text" name="state" value="<%= item.state %>" required>  
      <input type="text" name="description" value="<%= item.description %>" required>  
      <submit id="<%=index %>" class="searchButtons" id="btnDetails">Save</submit>
    </form>
<% }) %>

<!-- Buttons -->
<ul>
  <li id="details-button">Details</li>
</ul>



<button class="searchButtons" id="btnNoPet">No Pet</button>
<button class="searchButtons" id="btnPet">Pet</button>
<button class="searchButtons" id="btnDetails">Details</button>
<!-- <button class="searchButtons" id="btnSave">Save</button> -->


<!-- TODO: add a container inside form to display: hide the fields -->






<%- include('../layout/footer') %>
